@media(max-width: 1200px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 991px) {
    .container {
        width: 85%;
    }
    .header__phone {
        font-size: 16px;
    }
    .header__logo {
        width: 220px;
    }
    .promo__header {
        font-size: 38px;
    }
    .promo__subheader {
        font-size: 21px;
    }
    .benefits__icons {
        width: 220px;
    }
    .button_main {
        width: 255px;
    }
}

@media (max-width: 767px) {
    .header__logo {
        width: 200px;
    }
    .benefits__icons {
        width: 200px;
    }
    .promo__header {
        font-size: 34px;
    }
    .promo__subheader {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .header {
        display: block;
        &__official {
            display: none;
        }
        &__contacts {
            margin-top: 20px;
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            margin-top: 5px;
        }
    }

    .promo {
        padding-bottom: 60px;
        &__wrapper {
            margin-top: 55px;
            align-items: flex-end;
        }
        &__icons {
            margin-top: 45px;
            width: 277px;
        }
        &__icon {
            font-size: 12px;
        }
        &__header {
            font-size: 31px;
            text-align: center;
            line-height: 44px;
        }
        &__subheader {
            font-size: 15px;
            text-align: center;
        }
        &__link {
            font-size: 14px;
        }
    }
    .button_main {
        width: 180px;
        font-size: 12px;
        margin-top: 50px;
    }
    .benefits {
        padding: 45px 0 45px 0;
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
        &__icons {
            margin-top: 50px;
            width: 231px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &__text {
            margin-top: 9px;
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 10px;
        }
    }
    .title {
        font-size: 20px;
    }
    .consultation {
        padding: 75px 0 75px 0;
        &__descr {
            margin-top: 50px;
            font-size: 13px;
        }
        .feed-form {
            width: 270px;
        }
        .title_left {
            font-size: 19px;
            text-align: center;
            line-height: 34px;
        }
    }
    .carousel {
        padding: 50px 0 70px 0;
        &__inner {
            width: 100%;
            div {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                margin-bottom: 0;
                padding-left: 0;
                li {
                    list-style: none;
                    margin: 5px 6px 0px 6px;
                }
                li.slick-active button {
                    transition: 0.5s all;
                    background-color: $main-color;
                }
                button {
                    text-align: center;
                    font-size: 0;
                    line-height: 0;
                    width: 10px;
                    height: 10px;
                    background-color: #6b6b6b;
                    border-radius: 200%;
                    border: none;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
            margin-top: 40px;
        }
        &__tab {
            margin: 0 5px 10px 0;
        }
        &__content {
            margin-top: 40px;
        }
        &-item {
            margin-bottom: 0;
            &__content {
                img {
                    height: 150px;
                }
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
            &__descr {
                font-size: 12px;
            }
            &__link {
                font-size: 13px;
            }
            hr {
                margin-top: 10px;
                margin-bottom: 15px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }
        }
        .button_mini {
            width: 105px;
            height: 35px;
        }
    }
    .review {
        margin-bottom: 40px;
        &__wrapper {
            margin-top: 45px;
        }
        &__text {
            margin: 10px 0;
            margin-bottom: 0;
            text-align: center;
        }
        &__title {
            font-size: 16px;
        }
        &__subtitle {
            margin-top: 5px;
            font-size: 12px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 11px;
            padding: 0 10px;
        }
        &__block {
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
        }
        &__photo {
            width: 120px;
            height: 120px;
        }
    }
}